* {
    font-size: 20px;
    font-family: Arial, sans-serif;
}
h1 {
    color: blue;
    text-align: center;
    text-decoration: underline;
}
.first {
    font-style: italic;
}
.second {
    font-style: oblique;
}
.third {
    text-shadow: 2px 2px 2px ;
}
.fourth {
    font-weight: bold;
}